{% extends "Courses/courses_base.html" %}
{% block content_ %}

<p> Bienvenue sur le portail des cours de MathTree !</p>

<p>Dans l'apprentissage des mathématiques, nous pensons que l'idée de lien entre les notions, et de <strong>progression</strong> est capitale. Vous trouverez donc sur ce site une liste de notions, mais également un lien vers une représentation des cours que nous proposons sous forme <strong>de graphe</strong>. Un graphe orienté dont les noeuds sont les cours, et où il existe une arête d'un noeud "a" vers un noeud "b" si le cours "a" est un prérequis pour le cours "b".</p>
<p>C'est un arbre de deux manières (d'où le nom de ce site, MathTree) : </p>
<ul>
    <li>Mathématiquement, c'est un arbre orienté (acyclique et connexe).</li>
    <li>Il continue de grandir jour après jour.</li>
</ul>

<div class="center"><a href="{% url 'general_tree_view' %}" class="link_button">Voir l'arbre</a></div>

<div class="course_list">
<p>Liste des cours disponibles :</p>

{% if Courses_list %}
    
    <ul>
        {% for course in Courses_list %}
        <li><a href="{% url 'course_view' course.name %}" title="{% for chapter in course.chapter_set.all %}{{forloop.counter}}. {{chapter.name}}&#10;{% endfor %}">{{course.name}}</a></li>
        {% endfor %}
    </ul>
{% endif %}
</div>

<p>Et voilà du latex : \(\R\) </p>

{% endblock %}