{% extends "Courses/courses_base.html" %}
{% block content_ %}

<h1> {{course.name}}</h1>
<p>{{course.description}}</p>
<p>Chapitres :</p>

<ol>
    {% for chapter in course.chapter_set.all %}
    <li><a href = "{% url 'chapter_view' course.name chapter.index%}">{{chapter.name}}</a></li>
    {% endfor %}
</ol>

<p>Le cours est également accompagné d'une feuille d'exercices corrigés, avec indications.</p>

<p>Exercices :</p>

<a href = "{% url 'exercises_view' course.name%}">Voila les exercices.</a>

{% endblock %}