{% extends "Courses/courses_base.html" %}
{% block content_ %}

<h1>Vos commentaires nous aident à améliorer le contenu de nos cours. Merci !</h1>

<ul>
<li>Commentaire sur la page : {{page.index}}</li>
<li>Du chapitre : {{page.chapter.name}}</li>
<li>Du cours : {{page.chapter.course.name}}</li>
</ul>

<form method="POST" action="{% url 'send_comment' page.chapter.course.name page.chapter.index page.index solution %}" class="comment_page">

    {% csrf_token %}
    <p>Titre du commentaire</p>
    <input type="text" id="title" name="title" minlength="1" class="inline">
    <br>
    <p>Contenu</p>
    <textarea name="content" rows="10" cols="30"  class="inline"></textarea>
    <p>Votre adresse mail (pour que nous puissions éventuellement vous répondre...)</p>
    <input type="text" name="email">
    <p>Pour s'assurer que vous ne soyez pas un robot : 
    {% if operation == "plus" %}
    Combien fait {{grand_nombre_lettres}} auquel on ajoute {{petit_nombre_lettres}} ?</p>
    {% elif operation == "moins" %}
    Combien fait {{grand_nombre_lettres}} auquel on soustrait {{petit_nombre_lettres}} ?</p>
    {% endif %}
    <p><i>Repondre en chiffres arabes (1,2,3,34...), et non pas en toute lettres.</i></p>
    <input type="text" name="solution" minlength="1">
    <br>
    <div class="center"><button type="submit">Envoyer</button></div>
</form>

<a href="{% url 'page_view' page.chapter.course.name page.chapter.index page.index %}">Retourner à la page du cours</a>

{% endblock %}