{% extends "Courses/courses_base.html" %}
{% block content_ %}

{% load extras %}
{% load static %}

{% if page.is_first_page %}
<h1>{{page.chapter.course.name}}</h1>
<p> {{page.chapter.description}}</p>
<h2>Chapitre {{page.chapter.index}} : {{page.chapter.name}}</h2>
{% endif %}

{% for item in page.content|parse_text_as_list %}

{% if item|get_identifier == "theorem" %}
<div class="theorem item_container">
<h3 class="item_container_name">Théorème : {{item|get_first_field}}</h3>
<div class="item_container_content">
<p>{{item|get_second_field}}</p>
</div>
<div class="item_container proof">
<p>Preuve : {{item|get_third_field}}</p>
</div>
</div>
{% endif %}


{% if item|get_identifier == "theorem_list" %}
<div class = "theorem item_container">
<h3 class="item_container_name">Théorèmes : {{item|get_first_field}}</h3>
<div class="item_container_content">
<ol>
{% for theorem in item|get_second_field %}
<li>{{theorem}}</li>
{% endfor%}
</ol>
</div>

<div class="item_container proof">
<p>Preuves : </p>
<ol>
{% for proof in item|get_third_field %}
<li> {{proof}}</li>
{% endfor%}
</ol>
</div>
</div>


{% endif %}

{% if item|get_identifier == "proposition" %}
<div class = "proposition item_container">
<h3 class="item_container_name">Proposition : {{item|get_first_field}}</h3>
<div class="item_container_content">
<p>{{item|get_second_field}}</p>
</div>

<div class="item_container proof">
<p>Preuve : {{item|get_third_field}}</p>
</div>
</div>
{% endif %}

{% if item|get_identifier == "proposition_list" %}
<div class="proposition item_container">
<h3 class="item_container_name">Propositions : {{item|get_first_field}}</h3>
<div class="item_container_content">
<ol>
{% for proposition in item|get_second_field %}
<li>{{proposition}}</li>
{% endfor%}
</ol>

</div>
<div class="item_container proof">
<p>Preuves : </p>
<ol>
{% for proof in item|get_third_field %}
<li>{{proof}}</li>
{% endfor%}
</ol>
</div>
</div>


{% endif %}

{% if item|get_identifier == "definition" %}
<div class="definition item_container">
<h3 class="item_container_name">Définition : {{item|get_first_field}}</h3>
<div class="item_container_content">
<p>{{item|get_second_field}}</p>
{% endif %}
</div>
</div>

{% if item|get_identifier == "text" %}
<div class = "text">
<p>{{item|get_first_field}}</p>
</div>
{% endif %}

{% if item|get_identifier == "example" %}
<div class="example">
<p>Par exemple : {{item|get_first_field}}</p>
</div>
{% endif %}

{% if item|get_identifier == "example_list" %}
<div class="example">
<p>Exemples : </p>
<ul>
    {% for example in item|get_first_field %}
    <li>{{example}}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% if item|get_identifier == "image_center"%}
<div class="flex_center">
<div class="image_center">
    <img src="{% static ''%}Courses/{{page.chapter.course.name}}/{{item|get_first_field}}">
    <p class="legend">{{item|get_second_field}}</p>
</div>
</div>

{% endif %}

{% if item|get_identifier == "image_left" %}
<div class="image_side">
<div class="image_center">
    <img src="{% static ''%}Courses/{{page.chapter.course.name}}/{{item|get_first_field}}">
    <p class="legend">{{item|get_second_field}}</p>
</div>
    <p>{{item|get_third_field}}</p>
</div>
{% endif %}

{% if item|get_identifier == "image_right" %}
<div class="image_side">
    <p>{{item|get_third_field}}</p>
<div class="image_center">
    <img src="{% static ''%}Courses/{{page.chapter.course.name}}/{{item|get_first_field}}">
    <p class="legend">{{item|get_second_field}}</p>
</div>
</div>
{% endif %}


{% if item|get_identifier == "exercise" %}
<div class="exercise">
<p>Exercice : {{item|get_first_field}}</p>
<ul>
{% for question in item|get_first_field|get_associated_exercise_fields|get_zero_field|parse_text_as_list %}

    <li>{{question}}</li>

{% endfor%}
</ul>
</div>
{% endif %}

{% if item|get_identifier == "MCQ" %}
<div class="MCQ item_container">

    <div class="MCQ_question">
        {{item|get_first_field}}
    </div>

    <script>
        openMCQchoice = function(event) {
            event.target.parentNode.querySelector('.MCQ_answer').style.display = 'block'
            if (event.target.parentNode.querySelector('.MCQ_choice.Correct')) { event.target.parentNode.querySelector('.MCQ_choice.Correct').style.backgroundColor = '#cdf1cb'; }
            if (event.target.parentNode.querySelector('.MCQ_choice.Incorrect')) {event.target.parentNode.querySelector('.MCQ_choice.Incorrect').style.backgroundColor = '#fddfd5'; }
            event.target.parentNode.querySelector('.MCQ_choice').removeEventListener('click', openMCQchoice);
            event.target.parentNode.querySelector('.MCQ_choice').addEventListener('click', closeMCQchoice);
        }

        closeMCQchoice = function(event) {
            if(event.target.parentNode.querySelector('.MCQ_choice')) {event.target.parentNode.querySelector('.MCQ_choice').style.backgroundColor = 'white'}
            event.target.parentNode.querySelector('.MCQ_answer').style.display = 'none'
            event.target.parentNode.querySelector('.MCQ_choice').removeEventListener('click', closeMCQchoice);
            event.target.parentNode.querySelector('.MCQ_choice').addEventListener('click', openMCQchoice);
        }
    </script>

    {% for choice in item|get_second_field|shuffle_list %}

    <div class="MCQ_selection">
        <div class="MCQ_choice {{choice|get_first_field}}" id="{{item|get_first_field}} choice {{forloop.counter}}">{{choice|get_zero_field}}</div>
        <div class="MCQ_answer {{choice|get_first_field}}">{{choice|get_second_field}}</div>
    </div>

    <script>

        document.getElementById('{{item|get_first_field|escapejs}} choice {{forloop.counter|escapejs}}').addEventListener('click', openMCQchoice);
        
    </script>

    {% endfor %}

</div>
{% endif %}

{% if item|get_identifier == "skipline" %}
<br>
{% endif %}

{% endfor %}


<div class="course_footers">
<div class="nav_buttons">
    {% if not page.is_first_page %}
    <a href = "{% url 'page_view' page.chapter.course.name page.chapter.index page.previous_index %}" class = "before_button nav_button">Page Précédente</a>
    {% endif %}
    <div class="page_number inline">
        {{page.index}} / {{page|get_last_page}} 
    </div>
    {% if not page.is_last_page %}
    <a href = "{% url 'page_view' page.chapter.course.name page.chapter.index page.next_index %}" class = "after_button nav_button">Page Suivante</a>
    {% endif %}
</div>


<div class="center"><a href="{% url 'page_comment_view' page.chapter.course.name page.chapter.index page.index %}" class="return">Signaler une erreur</a></div>
<div class="center"><a href = "{% url 'course_view' page.chapter.course.name %}" class="return">Retourner à la page du cours</a></div>
</div>

{% endblock %}