{% extends "Courses/courses_base.html" %}
{% block content_ %}

{% load extras %}

<h1>{{page.chapter.course.name}}</h1>

{% if page.is_first_page %}
<p> {{page.chapter.description}}</p>
{% endif %}

<h2>Chapitre {{page.chapter.index}} : {{page.chapter.name}}, page {{page.index}} / {{page|get_last_page}}</h2>

{% for item in page.content|parse_text_as_list %}


{% if item|get_identifier == "theorem" %}
<div class="theorem item_container">
<h3 class="item_container_name">Théorème : {{item|get_first_field}}</h3>
<div class="item_container_content">
<p>{{item|get_second_field}}</p>
</div>
</div>
<div class="item_container proof">
<p>Preuve : {{item|get_third_field}}</p>
</div>
{% endif %}


{% if item|get_identifier == "theorem_list" %}
<div class = "theorem item_container">
<h3 class="item_container_name">Théorèmes : {{item|get_first_field}}</h3>
<div class="item_container_content">
<ol>
{% for theorem in item|get_second_field %}
<li>{{theorem}}</li>
{% endfor%}
</ol>
</div>
</div>
<div class="item_container proof">
<p>Preuves : </p>
<ol>
{% for proof in item|get_third_field %}
<li> {{proof}}</li>
{% endfor%}
</ol>
</div>


{% endif %}

{% if item|get_identifier == "proposition" %}
<div class = "proposition item_container">
<h3 class="item_container_name">Proposition : {{item|get_first_field}}</h3>
<div class="item_container_content">
<p>{{item|get_second_field}}</p>
</div>
</div>
<div class="item_container proof">
<p>Preuve : {{item|get_third_field}}</p>
</div>

{% endif %}

{% if item|get_identifier == "proposition_list" %}
<div class="proposition item_container">
<h3 class="item_container_name">Propositions : {{item|get_first_field}}</h3>
<div class="item_container_content">
<ol>
{% for proposition in item|get_second_field %}
<li>{{proposition}}</li>
{% endfor%}
</ol>
</div>
</div>
<div class="item_container proof">
<p>Preuves : </p>
<ol>
{% for proof in item|get_third_field %}
<li>{{proof}}</li>
{% endfor%}
</ol>
</div>


{% endif %}

{% if item|get_identifier == "definition" %}
<div class="definition item_container">
<h3 class="item_container_name">Définition : {{item|get_first_field}}</h3>
<div class="item_container_content">
<p>{{item|get_second_field}}</p>
{% endif %}
</div>
</div>

{% if item|get_identifier == "text" %}
<div class = "text">
<p>{{item|get_first_field}}</p>
</div>
{% endif %}

{% if item|get_identifier == "example" %}
<div class="example">
<p>Par exemple : {{item|get_first_field}}</p>
</div>
{% endif %}

{% if item|get_identifier == "example_list" %}
<div class="example">
<p>Exemples : </p>
<ul>
    {% for example in item|get_first_field %}
    <li>{{example}}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% if item|get_identifier == "exercise" %}
<div class="exercise">
<p>Exercice : {{item|get_first_field}}</p>
<ul>
{% for question in item|get_first_field|get_associated_exercise_fields|get_zero_field|parse_text_as_list %}

    <li>{{question}}</li>

{% endfor%}
</ul>
</div>
{% endif %}

{% endfor %}



<div class="nav_buttons">
{% if not page.is_first_page %}
<a href = "{% url 'page_view' page.chapter.course.name page.chapter.index page.previous_index %}" class = "before_button nav_button">Page Précédente</a>
{% endif %}
{% if not page.is_last_page %}
<a href = "{% url 'page_view' page.chapter.course.name page.chapter.index page.next_index %}" class = "after_button nav_button">Page Suivante</a>
{% endif %}
</div>
<div class="center"><a href = "{% url 'course_view' page.chapter.course.name %}" class="return">Retourner à la page du cours</a></div>


{% endblock %}