<!DOCTYPE html>

<head>

    <meta charset="utf-8">

    <!-- Latex Scripts -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <!-- Latex Commands -->
    \( \newcommand{\R}{\mathbb{R}} \)
    <!-- Statics -->
    {% load static %}
    <!-- CSS -->
    <link rel="stylesheet", type="text/css" href="{% static 'HomePage/style.css' %}">


</head>
<body>
<header>
    <h1>MATHTREE</h1>
</header>
    {% block content %}
    {% endblock %}


<footer>
    <a href="{% url 'home:home'%}">Retour à la page d'accueil</a>
</footer>
</body>

