/* 

File Structure :


*/

/* 1 - General functionalities */

/* 1a - Links and Link Buttons*/


a.link_button {
    text-align: center;
    border: solid black 1.5px;
    border-radius: 10px;
    padding: 8px 5px;
    font-weight: 550;
    text-decoration: none;
}

a.link_button:link {
    color: darkred;
}

a.link_button:visited {
    color: darkred;
}

a.link_button:hover {
    background-color: hsla(200,50%,70%,0.2);
}

a.link_button:active {
    
}

/* 1b - Functional */

.center {
    text-align: center;
}

.inline {
    display: inline;
}

.flex_center {
    display: flex;
    justify-content: center;
}

/* 2 - Setup of the base page */

html {
    background-color: hsla(0, 50%, 80%, 0.5);
}

header h1 {
    background-color: white;
    border-radius: 10px;
    border: solid black 1.5px;
    text-align: center;
    color: darkred;
    margin: 0px auto 10px auto;
    width: 98%;
    height: 30%;

}

main {
    padding : 20px 6%;
    margin: auto 6%;
    position: relative;
    text-align: justify;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    
}


footer {
    text-align: center;
    margin: 30px auto 20px auto;
    font-size: 20px;
}

footer a {
    display: inline;
    color: darkblue;
    text-decoration: none;
}

footer a:visited {
    color:darkblue;
}

footer a:hover {
    color:darkblue;
    font-weight: bold;
}


/* 3 - Home Page settings */

ul.objectives li {
    margin-top: 15px;
}

ul.homepage_buttons {
    margin: 50px 0px;
    padding: 0px 0px 0px 0px;
}

ul.homepage_buttons li {
    display: inline;
    margin: 0px 12px;
}


/* 4 - Tree page setting : don't forget to end the main at the beginning and start the other one at the end. */

 
/* 4a - Tree General layout */

#tree_page_container {
    position:relative;
    display: block;
    height: 80vh;
    padding: 0px 0px 0px 0px;
    margin: 10px 55px;
}

#container {
    box-sizing: border-box;
    width: 69.8%;
    height: 100%;
    background-color: hsl(210, 80%, 95%);
    float: right;
    border-radius: 10px;
    border: solid black 1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iFrame_container {
    box-sizing: border-box;
    width:29.8%;
    height:100%;
    background-color: white;
    float: left;
    border-radius: 10px;
    border: solid black 1.5px;
    overflow: hidden;
}

iframe {
    overflow: hidden;
}

/* 4b - Tree subwindow layout */

html.tree {
    background-color: hsl(210, 80%, 95%);
}

body.tree {
    background-color: white;
    border-radius: 5px;
    margin:5%;
}

main.tree {
    
}


/* 5 - Courses Settings */

/* 5a - Courses and Chapter lists */

.course_list a {
    color:darkblue;
    text-decoration: none;
}

.course_list a:hover {
    font-weight: bold;
}



.chapter_list a {
    color:darkblue;
    text-decoration: none;
}

.chapter_list a:hover {
    font-weight: bold;
}

/* 5b - Item containers */

/* 5b1 - General Settings */

div.item_container {
    border-radius: 8px;
    background-color:rgba(128, 128, 128, 0.250);
    padding: 0px 0px 1px 0px;
    margin-bottom: 10px;   
}

div.item_container h3.item_container_name {
    background-color: rgba(128, 128, 128, 0.600);
    border-radius: 8px;
    padding: 1px 10px 1px 10px ;
    margin: auto auto 10px auto;
    text-align: left;
    
}

div.item_container .item_container_content {
    padding: 0 3% 0 3%;
    margin: 0px auto 10px auto;
}

div.item_container.proof {
    background-color:rgb(241, 241, 241);
    padding: 0.5px 3% 0.5px 3%;
    margin-left: 2%; 
    margin-right: 2%;
}

/* 5b2 - Specific Settings */

div.item_container.definition {
    background-color: rgba(209, 125, 125, 0.3);
}

div.item_container.definition h3.item_container_name {
    background-color: rgba(209, 125, 125, 0.7);
}

div.item_container.theorem {
    background-color: rgba(125, 171, 209, 0.300);
}

div.item_container.theorem h3.item_container_name {
    background-color: rgba(125, 171, 209, 0.700);
}

div.item_container.MCQ {
    background-color: whitesmoke;
    border: dotted black 1.5px;
}

/* 5b3 - Exercises and MCQs */

/* 5b31 - Exercises */

/* 5b32 - MCQ */

div.MCQ_question {
    text-align: center;
    padding: 2% 2%;
}

div.MCQ_choice {
    background-color: white;
    border-radius: 4px ;
    padding: 2%;
    margin: 2%;
}

div.MCQ_answer {
    display: none;
    margin: 2% 6%;
}



/* 5b4 - Images */

.image_center {
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    align-items: center;
}

.image_side {
    display: flex;
    justify-content:space-around;
    
    align-items: center;
    margin: auto 10%;
}

.image_center img {
    width:100%;
    height: auto;
}
 
.image_side p {
    width: 50%;
    padding-left: 10% ;
    padding-right: 10%;
}

p.legend {
    font-size: small;
    color:gray;
    width:100%;
}


/* 5c - Course_footers */


div.nav_buttons {
    text-align: center;
    margin: 20px auto 20px auto;
}

div.nav_buttons a {
    display: inline;
    border-radius: 3px;
    border: solid black 1.5px;
    padding: 5px;
    text-decoration: none;
    color: darkred;
    
    
}

div.nav_buttons a:visited {
    color: darkred;
}

div.nav_buttons a:hover {
    background-color: hsla(200,50%,70%,0.2);
    font-weight: bold;
}

div.nav_buttons a.before_button{
    margin-right: 30px;
}

.page_number {
    font-size: large;
}

div.nav_buttons a.after_button{
    margin-left: 30px;
}

a.return:link {
    color:darkblue;
    text-decoration: none;
}

a.return:visited {
    color: darkblue;
}

a.return:hover {
    font-weight: bold;
}




/* 6 - Comments */

textarea {
    width:100%;
}